.wrapper{
  width: 30%;
  margin: 6rem auto;
  box-shadow: 0 0 10px #000;
  border-radius: 7px;
}
.main-form{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

.form-control {
  margin-bottom: 5px;
}

.form-control-btn {
  width: 110px;
  margin: 10px auto;
  padding: 8px 12px;
  background-color: #4bb9e8;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.form-control-btn:hover{
  background-color: #18a3de;
}

.error {
  color: red;
  font-size: 12px;
}